web/app/themes/CWA/front/dist/perspectives-inner.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="theme-color" content="#0E0E0E">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <title>perspectives title</title>
  <link href="assets/css/perspectives-inner.styles.css" rel="stylesheet"></head>
  <body>
    <script>
      !function(e,n,t){function o(e,n){return typeof e===n}function s(){var e,n,t,s,a,i,r;for(var l in c)if(c.hasOwnProperty(l)){if(e=[],n=c[l],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(t=0;t<n.options.aliases.length;t++)e.push(n.options.aliases[t].toLowerCase());for(s=o(n.fn,"function")?n.fn():n.fn,a=0;a<e.length;a++)i=e[a],r=i.split("."),1===r.length?Modernizr[r[0]]=s:(!Modernizr[r[0]]||Modernizr[r[0]]instanceof Boolean||(Modernizr[r[0]]=new Boolean(Modernizr[r[0]])),Modernizr[r[0]][r[1]]=s),f.push((s?"":"no-")+r.join("-"))}}function a(e){var n=u.className,t=Modernizr._config.classPrefix||"";if(p&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+t+"no-js(\\s|$)");n=n.replace(o,"$1"+t+"js$2")}Modernizr._config.enableClasses&&(n+=" "+t+e.join(" "+t),p?u.className.baseVal=n:u.className=n)}function i(){return"function"!=typeof n.createElement?n.createElement(arguments[0]):p?n.createElementNS.call(n,"https://www.w3.org/2000/svg",arguments[0]):n.createElement.apply(n,arguments)}function r(){var e=n.body;return e||(e=i(p?"svg":"body"),e.fake=!0),e}function l(e,t,o,s){var a,l,f,c,d="modernizr",p=i("div"),h=r();if(parseInt(o,10))for(;o--;)f=i("div"),f.id=s?s[o]:d+(o+1),p.appendChild(f);return a=i("style"),a.type="text/css",a.id="s"+d,(h.fake?h:p).appendChild(a),h.appendChild(p),a.styleSheet?a.styleSheet.cssText=e:a.appendChild(n.createTextNode(e)),p.id=d,h.fake&&(h.style.background="",h.style.overflow="hidden",c=u.style.overflow,u.style.overflow="hidden",u.appendChild(h)),l=t(p,e),h.fake?(h.parentNode.removeChild(h),u.style.overflow=c,u.offsetHeight):p.parentNode.removeChild(p),!!l}var f=[],c=[],d={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var t=this;setTimeout(function(){n(t[e])},0)},addTest:function(e,n,t){c.push({name:e,fn:n,options:t})},addAsyncTest:function(e){c.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=d,Modernizr=new Modernizr;var u=n.documentElement,p="svg"===u.nodeName.toLowerCase(),h=d._config.usePrefixes?" -webkit- -moz- -o- -ms- ".split(" "):["",""];d._prefixes=h;var m=d.testStyles=l;Modernizr.addTest("touchevents",function(){var t;if("ontouchstart"in e||e.DocumentTouch&&n instanceof DocumentTouch)t=!0;else{var o=["@media (",h.join("touch-enabled),("),"heartz",")","{#modernizr{top:9px;position:absolute}}"].join("");m(o,function(e){t=9===e.offsetTop})}return t}),s(),a(f),delete d.addTest,delete d.addAsyncTest;for(var v=0;v<Modernizr._q.length;v++)Modernizr._q[v]();e.Modernizr=Modernizr}(window,document);
      
    </script>
    <main>
      <header class="header-inner">
        <div class="container">
          <div class="header-inner__row">
            <div class="header__logo"><a href="home.html"><img src="assets/img/logo.svg" alt="Logo"><img class="mobile-logo" src="assets/img/mobile-logo.svg" alt="Logo"></a></div>
            <div class="hamburger"><span></span><span></span><span></span></div><a class="header-phone" href="tel:"><i class="fal fa-phone"></i></a>
            <div class="menu">
              <nav class="header__nav">
                <ul>
                  <li><a class="header__nav-link active" href="practice-area.html"><span>Practice Areas</span></a></li>
                  <li><a class="header__nav-link" href="Attorneys.html"><span>Attorneys</span></a></li>
                  <li><a class="header__nav-link" href="/"><span>Client Results</span></a></li>
                  <li><a class="header__nav-link" href="perspectives.html"><span>Perspectives</span></a></li>
                  <li class="with-submenu"><a class="header__nav-link" href="contact-us.html"><span>Contact</span></a></li>
                </ul>
              </nav>
              <div class="personal-cabinet">
                <form class="form-search">
                  <input type="search" placeholder="Search...">
                  <button disabled="true"><i class="fal fa-search"></i></button>
                </form><a class="phone" href="tel:+14155135980">(415) 513-5980</a>
              </div>
            </div>
            <div class="personal-cabinet">
              <form class="form-search">
                <input type="search" placeholder="Search...">
                <button disabled="true"><i class="fal fa-search"></i></button>
              </form><a class="phone" href="tel:+14155135980">(415) 513-5980</a>
            </div>
          </div>
        </div>
      </header>
      <section class="hero hero-inner hero-inner--perspectives hero-js">
        <picture class="hero-inner__bg"><img data-src="assets/img/bg-hero-inner.png" alt="Bg"></picture>
        <div class="container">
          <div class="hero-inner__row">
            <div class="content-cards"><span class="content-cards__item-date">May 18, 2020</span><span class="content-cards__item-category"><span>Consumer Bankruptcy</span>
                <div class="content-cards__item-separator">|</div><span>Article</span></span></div>
          </div>
          <div class="hero-inner__row">
            <h2 class="h2 h2--white">What Are the Differences Between an Adversary Procedure and a Contested Matter?</h2>
          </div>
        </div>
      </section>
      <div class="hero__pagination-wrap  ">
        <div class="container">
          <div class="hero__pagination"><a class="hero__pagination-link" href="#">Home</a><span class="hero__pagination-delimiter"><img src="assets/img/arrow-pagination.svg" alt="img"></span><a class="hero__pagination-link" href="#">Perspectives</a><span class="hero__pagination-delimiter"><img src="assets/img/arrow-pagination.svg" alt="img"></span><span class="hero__pagination-link">What Are the Differences Between an Adversary Procedure and a Contested Matter?</span>
          </div>
        </div>
      </div>
      <div class="perspectives-inner">
        <div class="container">
          <div class="perspectives-inner__row">
            <div class="perspectives-inner__col">
              <div class="social"><a class="social__item" href="/"><i class="fab fa-facebook-f"></i></a><a class="social__item" href="/"><i class="fab fa-twitter"></i></a><a class="social__item" href="/"><i class="fab fa-linkedin"></i></a><a class="social__item" href="/"><i class="fal fa-envelope"></i></a></div>
            </div>
            <div class="perspectives-inner__col">
              <div class="perspectives-inner__content">
                <p> Learn about secured, unsecured, and priority debts in bankruptcy.</p>
                <p>Filing for bankruptcy involves disclosing your debts, or “creditor claims,” on official bankruptcy paperwork. But as easy as that might sound, classifying claims can get a bit tricky. </p>
                <p>First, you’ll list the debt as either a secured or unsecured claim. Then, you’ll divide the unsecured claims into priority and nonpriority unsecured claims. In this article, you’ll learn how to properly label each debt and find out what will happen to it in bankruptcy.</p>
              </div>
              <div class="perspectives-inner__description"><b>See also:<a href="/">When Does My Chapter 7 Bankruptcy Case End?</a></b></div>
              <div class="info-block info-block--blue">
                <div class="info-block__container">
                  <div class="info-block__row">
                    <div class="info-block__col">
                      <h3>Get effective legal solutions for difficult financial issues now.</h3>
                      <p>Call <a href="tel:+14155135980">415-513-5980 </a> to set up your consultation with our bankruptcy attorneys or click the button for a free, initial consultation.</p>
                    </div>
                    <div class="info-block__col"><a class="btn btn--tilda" href="/"><span>Schedule Free Consultation</span><span class="tilda">～</span></a></div>
                  </div>
                </div>
              </div>
              <div class="perspectives-inner__content">
                <h3> Listing Creditor Claims in Your Bankruptcy Paperwork</h3>
                <p>Nam aliquam sem et tortor consequat id porta nibh. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Pharetra diam sit amet nisl suscipit adipiscing. A iaculis at erat pellentesque adipiscing commodo elit at. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Porttitor massa id neque aliquam vestibulum. Eget magna fermentum iaculis eu non. Pharetra sit amet aliquam id diam. Tincidunt ornare massa eget egestas purus viverra. Feugiat in fermentum posuere urna nec tincidunt.</p>
                <picture class="perspectives-inner__img"><img data-src="assets/img/image.jpg" alt="Image"></picture>
                <p>Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Tempus iaculis urna id volutpat. Eu facilisis sed odio morbi. Nibh venenatis cras sed felis eget velit aliquet sagittis. Diam in arcu cursus euismod quis. Justo laoreet sit amet cursus sit amet dictum. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Vel orci porta non pulvinar neque laoreet suspendisse. Justo donec enim diam vulputate ut pharetra. Auctor urna nunc id cursus. Ultrices sagittis orci a scelerisque. Nunc sed blandit libero volutpat sed cras ornare. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Duis at tellus at urna. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Leo urna molestie at elementum. Non arcu risus quis varius quam quisque id. Turpis in eu mi bibendum neque. Eget nunc scelerisque viverra mauris in. Egestas sed tempus urna et pharetra pharetra massa. Eu lobortis elementum nibh tellus molestie nunc non blandit. Arcu dui vivamus arcu felis bibendum ut tristique.</p>
              </div>
              <div class="perspectives-inner__description"><b>See also:<a href="/">When Does My Chapter 7 Bankruptcy Case End?</a></b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-cards content-cards--blog-preview">
        <div class="container">
          <div class="content-cards__row content-cards__row--title">
            <h2>You May Also Like</h2><a class="link link__icon uppercase" href="/">
              <picture><img src="assets/img/arrow-small.svg" alt="Icon"></picture><span>Blog Home</span></a>
          </div>
          <div class="content-cards__row"><a class="content-cards__item" href="/">
              <picture class="content-cards__img"><img data-src="assets/img/image.jpg" alt="Img"></picture><span class="content-cards__item-text"><span class="content-cards__item-title">What Are the Differences Between an Adversary Procedure and a Contested Matter?</span><span class="content-cards__item-subtitle">Learn about secured, unsecured, and priority debts in bankruptcy.</span><span class="content-cards__item-category"><span>Consumer Bankruptcy</span>
                  <div class="content-cards__item-separator">|</div><span>Article</span></span><span class="content-cards__item-date">May 18, 2020</span></span><span class="content-cards__arrow"></span></a><a class="content-cards__item" href="/">
              <picture class="content-cards__img"><img data-src="assets/img/image.jpg" alt="Img"></picture><span class="content-cards__item-text"><span class="content-cards__item-title">Types of Creditor Claims in Bankruptcy: Secured, Unsecured &amp; Priority</span><span class="content-cards__item-subtitle">Learn about secured, unsecured, and priority debts in bankruptcy.</span><span class="content-cards__item-category"><span>Consumer Bankruptcy</span>
                  <div class="content-cards__item-separator">|</div><span>Article</span></span><span class="content-cards__item-date">May 18, 2020</span></span><span class="content-cards__arrow"></span></a>
          </div>
        </div>
      </div>
      <section class="contact-us-block">
        <div class="container">
          <div class="contact-us-block__row">
            <div class="contact-us-block__col">
              <h2 class="h2"> Request your <br> case consultation</h2>
              <address class="contact-us-block__address">
                <picture><img src="assets/img/pin.svg" alt="Pin"></picture>
                <p>1777 Borel Pl., Suite 314 San Mateo, CA 94402<a class="directions" href="/"> get directions</a></p>
              </address>
              <div class="contact-information"><a class="contact-information__item" href="tel:+14155135980"> 
                  <picture><img src="assets/img/phone.svg" alt="Phone"></picture><span>(415) 513-5980</span></a><span class="contact-information__item">
                  <picture><img src="assets/img/fax.svg" alt="Fax"></picture><span>(415) 513-5985</span></span><a class="contact-information__item" href="mailto:info@belvederelegal.com"> 
                  <picture><img src="assets/img/mail.svg" alt="mail"></picture><span>info@belvederelegal.com</span></a><a class="contact-information__item" href="/">
                  <picture><img src="assets/img/in.svg" alt="In"></picture><span>belvederelegal</span></a><a class="contact-information__item" href="/">
                  <picture><img src="assets/img/clock.svg" alt="Clock"></picture><span> <b>Working Hours:</b><span>8 am — 6 pm (Monday — Friday)</span></span></a>
              </div>
            </div>
            <hr>
            <div class="contact-us-block__col">
              <div class="title-form"> 
                <p>Fill out the form below to schedule a consultation. <br>All fields required.</p>
              </div>
              <form class="form">
                <div class="input__wrap">
                  <input class="input" type="text" placeholder="Name*">
                </div>
                <div class="input__wrap">
                  <input class="input" type="email" placeholder="Email*">
                </div>
                <div class="input__wrap">
                  <input class="input" type="tel" placeholder="Phone*">
                </div>
                <div class="input__wrap">
                  <textarea class="input" type="textarea" placeholder="Briefly describe your situation. Please include as much information as possible, e.g. case summary*"></textarea>
                </div>
                <div class="input__btn"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn--form typesubmit">
                  <div class="preloader"><i class="fal fa-redo"></i></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__top-row">
          <div class="footer__top-col">
            <ul class="footer-menu">
              <li><a href="/">Practice Areas</a></li>
              <li><a href="/">Advantages of a Boutique Firm</a></li>
              <li><a href="/">Attorneys</a></li>
              <li><a href="/">Case Results</a></li>
              <li><a href="/">Perspectives</a></li>
              <li><a href="/">Careers </a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__bottom-row">
          <div class="footer__bottom-col">
            <p class="copyright">&copy; Copyright 2020 Belvedere Legal</p>
          </div>
          <div class="footer__bottom-col">
            <div class="privacy-policy"><a href="/">Disclaimer</a><span>|</span><a href="/">Privacy Policy</a></div>
          </div>
          <div class="footer__bottom-col">
            <div class="study">
              <p>Made in:</p><a href="comrade.web">
                <picture><img src="assets/img/comrade.svg" alt="Comrade Web Agency"></picture></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="assets/js/runtime.js"></script><script type="text/javascript" src="assets/js/perspectives-inner.js"></script></body>
</html>

web/app/themes/CWA/front/src/components/perspectives-inner/perspectives-inner.component.pug
mixin perspectives-inner(data)
    .perspectives-inner
        .container
            .perspectives-inner__row
                .perspectives-inner__col
                    .social
                        a.social__item(href="/")
                            i(class="fab fa-facebook-f")
                        a.social__item(href="/")
                            i(class="fab fa-twitter")
                        a.social__item(href="/")
                            i(class="fab fa-linkedin")
                        a.social__item(href="/")
                            i(class="fal fa-envelope")
                .perspectives-inner__col
                    .perspectives-inner__content
                        p  Learn about secured, unsecured, and priority debts in bankruptcy.
                        p Filing for bankruptcy involves disclosing your debts, or “creditor claims,” on official bankruptcy paperwork. But as easy as that might sound, classifying claims can get a bit tricky. 
                        p First, you’ll list the debt as either a secured or unsecured claim. Then, you’ll divide the unsecured claims into priority and nonpriority unsecured claims. In this article, you’ll learn how to properly label each debt and find out what will happen to it in bankruptcy.
                    .perspectives-inner__description
                        b See also:
                            a(href="/") When Does My Chapter 7 Bankruptcy Case End?
                    +info-block({
                        title: "Get effective legal solutions for difficult financial issues now.",
                        class: "info-block--blue",
                        btn: "Schedule Free Consultation",
                        content: true
                    })
                    .perspectives-inner__content
                        h3  Listing Creditor Claims in Your Bankruptcy Paperwork
                        p Nam aliquam sem et tortor consequat id porta nibh. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Pharetra diam sit amet nisl suscipit adipiscing. A iaculis at erat pellentesque adipiscing commodo elit at. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Porttitor massa id neque aliquam vestibulum. Eget magna fermentum iaculis eu non. Pharetra sit amet aliquam id diam. Tincidunt ornare massa eget egestas purus viverra. Feugiat in fermentum posuere urna nec tincidunt.
                        picture.perspectives-inner__img
                            img(data-src="assets/img/image.jpg", alt="Image")
                        p Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Tempus iaculis urna id volutpat. Eu facilisis sed odio morbi. Nibh venenatis cras sed felis eget velit aliquet sagittis. Diam in arcu cursus euismod quis. Justo laoreet sit amet cursus sit amet dictum. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Vel orci porta non pulvinar neque laoreet suspendisse. Justo donec enim diam vulputate ut pharetra. Auctor urna nunc id cursus. Ultrices sagittis orci a scelerisque. Nunc sed blandit libero volutpat sed cras ornare. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Duis at tellus at urna. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Leo urna molestie at elementum. Non arcu risus quis varius quam quisque id. Turpis in eu mi bibendum neque. Eget nunc scelerisque viverra mauris in. Egestas sed tempus urna et pharetra pharetra massa. Eu lobortis elementum nibh tellus molestie nunc non blandit. Arcu dui vivamus arcu felis bibendum ut tristique.
                    .perspectives-inner__description
                        b See also:
                            a(href="/") When Does My Chapter 7 Bankruptcy Case End?
