web/app/themes/CWA/front/src/components/attorneys/attorneys.component.pug
mixin attorneys(data)
    .attorneys
        .container
            .attorneys__row
                .attorneys__item.attorneys__item-left
                    picture.attorneys__item-user
                        img(data-src="assets/img/user-1.jpg", alt="")
                    .attorneys__item-content
                        h2 Matthew D. Metzger
                        .subtitle Principal, Admitted in California
                        p Mr. Metzger has significant experience representing debtors, creditors, and parties in commercial litigation, adversary proceedings, and litigation in state courts and federal courts...
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span view full bid
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span Get in touch with Matthew D. Metzger

                .attorneys__item.attorneys__item-right
                    picture.attorneys__item-user
                        img(data-src="assets/img/user-2.jpg", alt="")
                    .attorneys__item-content
                        h2 David Leyva
                        .subtitle Independent Contractor, Admitted in California
                        p David received his Juris Doctor degree from the UCLA School of Law in 2018 where he specialized in Business Law. As a law student, he served as research assistant to Professor Adam Winkler on corporate and Constitutional law matters...
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span view full bid
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span Get in touch with Matthew D. Metzger

web/app/themes/CWA/front/dist/Attorneys.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="theme-color" content="#0E0E0E">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <title>Attorneys title</title>
  <link href="assets/css/Attorneys.styles.css" rel="stylesheet"></head>
  <body>
    <script>
      !function(e,n,t){function o(e,n){return typeof e===n}function s(){var e,n,t,s,a,i,r;for(var l in c)if(c.hasOwnProperty(l)){if(e=[],n=c[l],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(t=0;t<n.options.aliases.length;t++)e.push(n.options.aliases[t].toLowerCase());for(s=o(n.fn,"function")?n.fn():n.fn,a=0;a<e.length;a++)i=e[a],r=i.split("."),1===r.length?Modernizr[r[0]]=s:(!Modernizr[r[0]]||Modernizr[r[0]]instanceof Boolean||(Modernizr[r[0]]=new Boolean(Modernizr[r[0]])),Modernizr[r[0]][r[1]]=s),f.push((s?"":"no-")+r.join("-"))}}function a(e){var n=u.className,t=Modernizr._config.classPrefix||"";if(p&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+t+"no-js(\\s|$)");n=n.replace(o,"$1"+t+"js$2")}Modernizr._config.enableClasses&&(n+=" "+t+e.join(" "+t),p?u.className.baseVal=n:u.className=n)}function i(){return"function"!=typeof n.createElement?n.createElement(arguments[0]):p?n.createElementNS.call(n,"https://www.w3.org/2000/svg",arguments[0]):n.createElement.apply(n,arguments)}function r(){var e=n.body;return e||(e=i(p?"svg":"body"),e.fake=!0),e}function l(e,t,o,s){var a,l,f,c,d="modernizr",p=i("div"),h=r();if(parseInt(o,10))for(;o--;)f=i("div"),f.id=s?s[o]:d+(o+1),p.appendChild(f);return a=i("style"),a.type="text/css",a.id="s"+d,(h.fake?h:p).appendChild(a),h.appendChild(p),a.styleSheet?a.styleSheet.cssText=e:a.appendChild(n.createTextNode(e)),p.id=d,h.fake&&(h.style.background="",h.style.overflow="hidden",c=u.style.overflow,u.style.overflow="hidden",u.appendChild(h)),l=t(p,e),h.fake?(h.parentNode.removeChild(h),u.style.overflow=c,u.offsetHeight):p.parentNode.removeChild(p),!!l}var f=[],c=[],d={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var t=this;setTimeout(function(){n(t[e])},0)},addTest:function(e,n,t){c.push({name:e,fn:n,options:t})},addAsyncTest:function(e){c.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=d,Modernizr=new Modernizr;var u=n.documentElement,p="svg"===u.nodeName.toLowerCase(),h=d._config.usePrefixes?" -webkit- -moz- -o- -ms- ".split(" "):["",""];d._prefixes=h;var m=d.testStyles=l;Modernizr.addTest("touchevents",function(){var t;if("ontouchstart"in e||e.DocumentTouch&&n instanceof DocumentTouch)t=!0;else{var o=["@media (",h.join("touch-enabled),("),"heartz",")","{#modernizr{top:9px;position:absolute}}"].join("");m(o,function(e){t=9===e.offsetTop})}return t}),s(),a(f),delete d.addTest,delete d.addAsyncTest;for(var v=0;v<Modernizr._q.length;v++)Modernizr._q[v]();e.Modernizr=Modernizr}(window,document);
      
    </script>
    <main>
      <header class="header-inner">
        <div class="container">
          <div class="header-inner__row">
            <div class="header__logo"><a href="home.html"><img src="assets/img/logo.svg" alt="Logo"><img class="mobile-logo" src="assets/img/mobile-logo.svg" alt="Logo"></a></div>
            <div class="hamburger"><span></span><span></span><span></span></div><a class="header-phone" href="tel:"><i class="fal fa-phone"></i></a>
            <div class="menu">
              <nav class="header__nav">
                <ul>
                  <li><a class="header__nav-link active" href="practice-area.html"><span>Practice Areas</span></a></li>
                  <li><a class="header__nav-link" href="Attorneys.html"><span>Attorneys</span></a></li>
                  <li><a class="header__nav-link" href="/"><span>Client Results</span></a></li>
                  <li><a class="header__nav-link" href="perspectives.html"><span>Perspectives</span></a></li>
                  <li class="with-submenu"><a class="header__nav-link" href="contact-us.html"><span>Contact</span></a></li>
                </ul>
              </nav>
              <div class="personal-cabinet">
                <form class="form-search">
                  <input type="search" placeholder="Search...">
                  <button disabled="true"><i class="fal fa-search"></i></button>
                </form><a class="phone" href="tel:+14155135980">(415) 513-5980</a>
              </div>
            </div>
            <div class="personal-cabinet">
              <form class="form-search">
                <input type="search" placeholder="Search...">
                <button disabled="true"><i class="fal fa-search"></i></button>
              </form><a class="phone" href="tel:+14155135980">(415) 513-5980</a>
            </div>
          </div>
        </div>
      </header>
      <section class="hero hero-inner hero-js">
        <picture class="hero-inner__bg"><img data-src="assets/img/bg-hero-inner.png" alt="Bg"></picture>
        <div class="container">
          <div class="hero-inner__row">
            <h2 class="h2 h2--white">Attorneys</h2>
            <p class="subtitle"></p>
          </div>
        </div>
      </section>
      <div class="hero__pagination-wrap  ">
        <div class="container">
          <div class="hero__pagination"><a class="hero__pagination-link" href="#">Home</a><span class="hero__pagination-delimiter"><img src="assets/img/arrow-pagination.svg" alt="img"></span><span class="hero__pagination-link">Attorneys</span>
          </div>
        </div>
      </div>
      <div class="attorneys">
        <div class="container">
          <div class="attorneys__row">
            <div class="attorneys__item attorneys__item-left">
              <picture class="attorneys__item-user"><img data-src="assets/img/user-1.jpg" alt=""></picture>
              <div class="attorneys__item-content">
                <h2>Matthew D. Metzger</h2>
                <div class="subtitle">Principal, Admitted in California</div>
                <p>Mr. Metzger has significant experience representing debtors, creditors, and parties in commercial litigation, adversary proceedings, and litigation in state courts and federal courts...</p><a class="link link__icon uppercase" href="/">
                  <picture><img src="assets/img/arrow-small.svg" alt="Icon"></picture><span>view full bid</span></a><a class="link link__icon uppercase" href="/">
                  <picture><img src="assets/img/arrow-small.svg" alt="Icon"></picture><span>Get in touch with Matthew D. Metzger</span></a>
              </div>
            </div>
            <div class="attorneys__item attorneys__item-right">
              <picture class="attorneys__item-user"><img data-src="assets/img/user-2.jpg" alt=""></picture>
              <div class="attorneys__item-content">
                <h2>David Leyva</h2>
                <div class="subtitle">Independent Contractor, Admitted in California</div>
                <p>David received his Juris Doctor degree from the UCLA School of Law in 2018 where he specialized in Business Law. As a law student, he served as research assistant to Professor Adam Winkler on corporate and Constitutional law matters...</p><a class="link link__icon uppercase" href="/">
                  <picture><img src="assets/img/arrow-small.svg" alt="Icon"></picture><span>view full bid</span></a><a class="link link__icon uppercase" href="/">
                  <picture><img src="assets/img/arrow-small.svg" alt="Icon"></picture><span>Get in touch with Matthew D. Metzger</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="contact-us-block">
        <div class="container">
          <div class="contact-us-block__row">
            <div class="contact-us-block__col">
              <h2 class="h2"> Request your <br> case consultation</h2>
              <address class="contact-us-block__address">
                <picture><img src="assets/img/pin.svg" alt="Pin"></picture>
                <p>1777 Borel Pl., Suite 314 San Mateo, CA 94402<a class="directions" href="/"> get directions</a></p>
              </address>
              <div class="contact-information"><a class="contact-information__item" href="tel:+14155135980"> 
                  <picture><img src="assets/img/phone.svg" alt="Phone"></picture><span>(415) 513-5980</span></a><span class="contact-information__item">
                  <picture><img src="assets/img/fax.svg" alt="Fax"></picture><span>(415) 513-5985</span></span><a class="contact-information__item" href="mailto:info@belvederelegal.com"> 
                  <picture><img src="assets/img/mail.svg" alt="mail"></picture><span>info@belvederelegal.com</span></a><a class="contact-information__item" href="/">
                  <picture><img src="assets/img/in.svg" alt="In"></picture><span>belvederelegal</span></a><a class="contact-information__item" href="/">
                  <picture><img src="assets/img/clock.svg" alt="Clock"></picture><span> <b>Working Hours:</b><span>8 am — 6 pm (Monday — Friday)</span></span></a>
              </div>
            </div>
            <hr>
            <div class="contact-us-block__col">
              <div class="title-form"> 
                <p>Fill out the form below to schedule a consultation. <br>All fields required.</p>
              </div>
              <form class="form">
                <div class="input__wrap">
                  <input class="input" type="text" placeholder="Name*">
                </div>
                <div class="input__wrap">
                  <input class="input" type="email" placeholder="Email*">
                </div>
                <div class="input__wrap">
                  <input class="input" type="tel" placeholder="Phone*">
                </div>
                <div class="input__wrap">
                  <textarea class="input" type="textarea" placeholder="Briefly describe your situation. Please include as much information as possible, e.g. case summary*"></textarea>
                </div>
                <div class="input__btn"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn--form typesubmit">
                  <div class="preloader"><i class="fal fa-redo"></i></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__top-row">
          <div class="footer__top-col">
            <ul class="footer-menu">
              <li><a href="/">Practice Areas</a></li>
              <li><a href="/">Advantages of a Boutique Firm</a></li>
              <li><a href="/">Attorneys</a></li>
              <li><a href="/">Case Results</a></li>
              <li><a href="/">Perspectives</a></li>
              <li><a href="/">Careers </a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__bottom-row">
          <div class="footer__bottom-col">
            <p class="copyright">&copy; Copyright 2020 Belvedere Legal</p>
          </div>
          <div class="footer__bottom-col">
            <div class="privacy-policy"><a href="/">Disclaimer</a><span>|</span><a href="/">Privacy Policy</a></div>
          </div>
          <div class="footer__bottom-col">
            <div class="study">
              <p>Made in:</p><a href="comrade.web">
                <picture><img src="assets/img/comrade.svg" alt="Comrade Web Agency"></picture></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="assets/js/runtime.js"></script><script type="text/javascript" src="assets/js/Attorneys.js"></script></body>
</html>
