web/app/themes/CWA/front/dist/attorneys-inner.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="theme-color" content="#0E0E0E">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <title>attorneys-inner title</title>
  <link href="assets/css/attorneys-inner.styles.css" rel="stylesheet"></head>
  <body>
    <script>
      !function(e,n,t){function o(e,n){return typeof e===n}function s(){var e,n,t,s,a,i,r;for(var l in c)if(c.hasOwnProperty(l)){if(e=[],n=c[l],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(t=0;t<n.options.aliases.length;t++)e.push(n.options.aliases[t].toLowerCase());for(s=o(n.fn,"function")?n.fn():n.fn,a=0;a<e.length;a++)i=e[a],r=i.split("."),1===r.length?Modernizr[r[0]]=s:(!Modernizr[r[0]]||Modernizr[r[0]]instanceof Boolean||(Modernizr[r[0]]=new Boolean(Modernizr[r[0]])),Modernizr[r[0]][r[1]]=s),f.push((s?"":"no-")+r.join("-"))}}function a(e){var n=u.className,t=Modernizr._config.classPrefix||"";if(p&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+t+"no-js(\\s|$)");n=n.replace(o,"$1"+t+"js$2")}Modernizr._config.enableClasses&&(n+=" "+t+e.join(" "+t),p?u.className.baseVal=n:u.className=n)}function i(){return"function"!=typeof n.createElement?n.createElement(arguments[0]):p?n.createElementNS.call(n,"https://www.w3.org/2000/svg",arguments[0]):n.createElement.apply(n,arguments)}function r(){var e=n.body;return e||(e=i(p?"svg":"body"),e.fake=!0),e}function l(e,t,o,s){var a,l,f,c,d="modernizr",p=i("div"),h=r();if(parseInt(o,10))for(;o--;)f=i("div"),f.id=s?s[o]:d+(o+1),p.appendChild(f);return a=i("style"),a.type="text/css",a.id="s"+d,(h.fake?h:p).appendChild(a),h.appendChild(p),a.styleSheet?a.styleSheet.cssText=e:a.appendChild(n.createTextNode(e)),p.id=d,h.fake&&(h.style.background="",h.style.overflow="hidden",c=u.style.overflow,u.style.overflow="hidden",u.appendChild(h)),l=t(p,e),h.fake?(h.parentNode.removeChild(h),u.style.overflow=c,u.offsetHeight):p.parentNode.removeChild(p),!!l}var f=[],c=[],d={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var t=this;setTimeout(function(){n(t[e])},0)},addTest:function(e,n,t){c.push({name:e,fn:n,options:t})},addAsyncTest:function(e){c.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=d,Modernizr=new Modernizr;var u=n.documentElement,p="svg"===u.nodeName.toLowerCase(),h=d._config.usePrefixes?" -webkit- -moz- -o- -ms- ".split(" "):["",""];d._prefixes=h;var m=d.testStyles=l;Modernizr.addTest("touchevents",function(){var t;if("ontouchstart"in e||e.DocumentTouch&&n instanceof DocumentTouch)t=!0;else{var o=["@media (",h.join("touch-enabled),("),"heartz",")","{#modernizr{top:9px;position:absolute}}"].join("");m(o,function(e){t=9===e.offsetTop})}return t}),s(),a(f),delete d.addTest,delete d.addAsyncTest;for(var v=0;v<Modernizr._q.length;v++)Modernizr._q[v]();e.Modernizr=Modernizr}(window,document);
      
    </script>
    <main class="main">
      <header class="header-inner">
        <div class="container">
          <div class="header-inner__row">
            <div class="header__logo"><a href="home.html"><img src="assets/img/logo.svg" alt="Logo"><img class="mobile-logo" src="assets/img/mobile-logo.svg" alt="Logo"></a></div>
            <div class="hamburger"><span></span><span></span><span></span></div><a class="header-phone" href="tel:"><i class="fal fa-phone"></i></a>
            <div class="menu">
              <nav class="header__nav">
                <ul>
                  <li><a class="header__nav-link active" href="practice-area.html"><span>Practice Areas</span></a></li>
                  <li><a class="header__nav-link" href="Attorneys.html"><span>Attorneys</span></a></li>
                  <li><a class="header__nav-link" href="/"><span>Client Results</span></a></li>
                  <li><a class="header__nav-link" href="perspectives.html"><span>Perspectives</span></a></li>
                  <li class="with-submenu"><a class="header__nav-link" href="contact-us.html"><span>Contact</span></a></li>
                </ul>
              </nav>
              <div class="personal-cabinet">
                <form class="form-search">
                  <input type="search" placeholder="Search...">
                  <button disabled="true"><i class="fal fa-search"></i></button>
                </form><a class="phone" href="tel:+14155135980">(415) 513-5980</a>
              </div>
            </div>
            <div class="personal-cabinet">
              <form class="form-search">
                <input type="search" placeholder="Search...">
                <button disabled="true"><i class="fal fa-search"></i></button>
              </form><a class="phone" href="tel:+14155135980">(415) 513-5980</a>
            </div>
          </div>
        </div>
      </header>
      <section class="hero hero-inner hero-js">
        <picture class="hero-inner__bg"><img data-src="assets/img/bg-hero-inner.png" alt="Bg"></picture>
        <div class="container">
          <div class="hero-inner__row">
            <h2 class="h2 h2--white">Matthew D. Metzger</h2>
            <p class="subtitle"></p>
          </div>
        </div>
      </section>
      <div class="hero__pagination-wrap  ">
        <div class="container">
          <div class="hero__pagination"><a class="hero__pagination-link" href="#">Home</a><span class="hero__pagination-delimiter"><img src="assets/img/arrow-pagination.svg" alt="img"></span><a class="hero__pagination-link" href="#">Attorneys</a><span class="hero__pagination-delimiter"><img src="assets/img/arrow-pagination.svg" alt="img"></span><span class="hero__pagination-link">Matthew D. Metzger</span>
          </div>
        </div>
      </div>
      <section class="attorneys-inner">
        <picture class="attorneys-inner__bg"><img src="assets/img/attorneys-inner.jpg" alt="Bg"></picture>
        <div class="container">
          <div class="attorneys-inner__row">
            <div class="card-user">
              <div class="card-user__row">
                <div class="card-user__col">
                  <div class="card-user__info">
                    <div class="card-user__title"><span>My Road to Practicing Bankruptcy <br>Isn’t a Typical One.</span>
                      <picture><img src="assets/img/brackets.svg" alt="img"></picture>
                    </div>
                    <p class="subtitle">Mr. Metzger has significant experience representing debtors, creditors, and parties in commercial litigation, adversary proceedings, and litigation in state courts and federal courts.</p>
                    <div class="card-user__info-links">
                      <div class="contact-information"><a class="contact-information__item" href="tel:+14155135980"> 
                          <picture><img src="assets/img/phone.svg" alt="Phone"></picture><span>(415) 513-5980</span></a><a class="contact-information__item" href="mailto:info@belvederelegal.com"> 
                          <picture><img src="assets/img/mail.svg" alt="mail"></picture><span>info@belvederelegal.com</span></a></div>
                    </div>
                  </div>
                </div>
                <div class="card-user__col">
                  <picture class="attorneys-inner__user"><img data-src="assets/img/user-1.jpg" alt="User"></picture>
                </div>
              </div>
            </div>
          </div>
          <div class="attorneys-inner__row">
            <div class="attorneys-inner__col">
              <ul class="description-user">
                <li class="description-user__item" id="s1">
                  <h2>Biography</h2>
                  <p>He has represented numerous individual consumer debtor cases in chapter 11, chapter 7, and chapter 13, since 2009. He also has handled numerous commercial business debtors, in both chapter 11 and chapter 7. Has also has significant litigation experience and has appeared in numerous state and federal courts as well as the Ninth Circuit Appellate Court. Prior to founding Belvedere Legal in 2008, Matt worked as a principal at Cotchett, Pitre & McCarthy, where his civil caseload focused on securities, predatory and abusive lending practices, as well as consumer and investor fraud class actions. Prior to that position, Matt served as Deputy District Attorney in the Office of the District Attorney, County of San Joaquin. As a prosecutor, Matt tried criminal matters as well as civil cases under California’s Unfair Competition Law. From 2014-2017, Matt served a three-year term on the Bench-Bar Liaison Committee for the U.S. Bankruptcy Court for the Northern District of California. The Bench-Bar Liaison Committee serves as a forum in which the judges and the bar can work together to improve the quality of practice in Northern District of California and the manner in which court business is conducted. </p>
                </li>
                <li class="description-user__item" id="s2">
                  <h3>Bar Admission</h3>
                  <p>Matt is a member of the Bay Area Bankruptcy Forum, the San Mateo County Bar Association, the Bar Association of San Francisco, and the State Bar of California Business Litigation section.</p>
                </li>
                <li class="description-user__item" id="s3">
                  <h3>Education</h3>
                  <p>Matt received his Bachelor of Arts degree from Princeton University, where he majored in comparative literature, in 1994, and graduated Magna Cum Laude with a Certificate in East Asian Studies. In 1995, he received a Fulbright Scholarship to study in Japan. In 2000, he received a Master’s Degree from Stanford University in the field of comparative literature. In 2005, Matt received his Juris Doctor degree from the University of California Davis School of Law. He served as a research assistant to Professor Albert Lin on environmental law matters and as Executive Editor of U.C. Davis’s Journal of International Law and Policy. Following law school, he clerked for the Honorable Larry R. Weeks of the First Judicial District in Juneau, Alaska.</p>
                </li>
                <li class="description-user__item" id="s4">
                  <h3>Admissions</h3>
                  <p>Matt is admitted to the State Bar of California, the State Bar of Alaska, the Northern, Eastern, and Central Districts of California, and the United States Court of Appeals for the Ninth Circuit. He is married to Dr. Neeta Jain and has two children. He grew up in Belvedere, CA in the 70s and 80s and he named his firm after the term “belvedere”, which means a “structure that commands a view.”</p>
                </li>
              </ul>
            </div>
            <div class="attorneys-inner__col">
              <ul class="attorneys-menu">
                <li class="attorneys-menu__item attorneys-menu__item-active"><a class="uppercase" href="#s1" rel="m_PageScroll2id">biography</a></li>
                <li class="attorneys-menu__item"><a class="uppercase" href="#s2" rel="m_PageScroll2id">Bar Admission</a></li>
                <li class="attorneys-menu__item"><a class="uppercase" href="#s3" rel="m_PageScroll2id">Education</a></li>
                <li class="attorneys-menu__item"><a class="uppercase" href="#s4" rel="m_PageScroll2id">Admissions</a></li>
              </ul>
              <div class="info-block info-block--blue info-block--vertical">
                <div class="info-block__container">
                  <div class="info-block__row">
                    <div class="info-block__col">
                      <h3>Get effective legal solutions for difficult financial issues now.</h3>
                      <p>Call <a href="tel:+14155135980">415-513-5980 </a> to set up your consultation with our bankruptcy attorneys or click the button for a free, initial consultation.</p>
                    </div>
                    <div class="info-block__col"><a class="btn btn--tilda" href="/"><span>Schedule Free Consultation</span><span class="tilda">～</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="attorneys-inner__row--noflef">
          <div class="container">
            <div class="attorneys-inner__row attorneys-inner__row--white">
              <div class="attorneys-inner__col">
                <h2>Come Work With Us</h2><a class="link link__icon uppercase" href="/">
                  <picture><img src="assets/img/arrow-small.svg" alt="Icon"></picture><span>See more current opportunities</span></a>
              </div>
              <div class="attorneys-inner__col">
                <p>Belvedere Legal offers law students, practicing lawyers and other professionals the opportunity to apply their time and talents toward resolving important and challenging legal matters on today’s legal stage, working with a shared commitment to client service, the legal profession, and community support.</p>
                <h3>How to Apply?</h3>
                <p>Interested individuals may contact the firm at<br><a href="mailto:info@belvederelegal.com">info@belvederelegal.com</a></p>
                <p>Please include the title of the job in the subject line.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-us-block">
        <div class="container">
          <div class="contact-us-block__row">
            <div class="contact-us-block__col">
              <h2 class="h2"> Request your <br> case consultation</h2>
              <address class="contact-us-block__address">
                <picture><img src="assets/img/pin.svg" alt="Pin"></picture>
                <p>1777 Borel Pl., Suite 314 San Mateo, CA 94402<a class="directions" href="/"> get directions</a></p>
              </address>
              <div class="contact-information"><a class="contact-information__item" href="tel:+14155135980"> 
                  <picture><img src="assets/img/phone.svg" alt="Phone"></picture><span>(415) 513-5980</span></a><span class="contact-information__item">
                  <picture><img src="assets/img/fax.svg" alt="Fax"></picture><span>(415) 513-5985</span></span><a class="contact-information__item" href="mailto:info@belvederelegal.com"> 
                  <picture><img src="assets/img/mail.svg" alt="mail"></picture><span>info@belvederelegal.com</span></a><a class="contact-information__item" href="/">
                  <picture><img src="assets/img/in.svg" alt="In"></picture><span>belvederelegal</span></a><a class="contact-information__item" href="/">
                  <picture><img src="assets/img/clock.svg" alt="Clock"></picture><span> <b>Working Hours:</b><span>8 am — 6 pm (Monday — Friday)</span></span></a>
              </div>
            </div>
            <hr>
            <div class="contact-us-block__col">
              <div class="title-form"> 
                <p>Fill out the form below to schedule a consultation. <br>All fields required.</p>
              </div>
              <form class="form">
                <div class="input__wrap">
                  <input class="input" type="text" placeholder="Name*">
                </div>
                <div class="input__wrap">
                  <input class="input" type="email" placeholder="Email*">
                </div>
                <div class="input__wrap">
                  <input class="input" type="tel" placeholder="Phone*">
                </div>
                <div class="input__wrap">
                  <textarea class="input" type="textarea" placeholder="Briefly describe your situation. Please include as much information as possible, e.g. case summary*"></textarea>
                </div>
                <div class="input__btn"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn--form typesubmit">
                  <div class="preloader"><i class="fal fa-redo"></i></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__top-row">
          <div class="footer__top-col">
            <ul class="footer-menu">
              <li><a href="/">Practice Areas</a></li>
              <li><a href="/">Advantages of a Boutique Firm</a></li>
              <li><a href="/">Attorneys</a></li>
              <li><a href="/">Case Results</a></li>
              <li><a href="/">Perspectives</a></li>
              <li><a href="/">Careers </a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__bottom-row">
          <div class="footer__bottom-col">
            <p class="copyright">&copy; Copyright 2020 Belvedere Legal</p>
          </div>
          <div class="footer__bottom-col">
            <div class="privacy-policy"><a href="/">Disclaimer</a><span>|</span><a href="/">Privacy Policy</a></div>
          </div>
          <div class="footer__bottom-col">
            <div class="study">
              <p>Made in:</p><a href="comrade.web">
                <picture><img src="assets/img/comrade.svg" alt="Comrade Web Agency"></picture></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="assets/js/runtime.js"></script><script type="text/javascript" src="assets/js/attorneys-inner.js"></script></body>
</html>

web/app/themes/CWA/front/src/components/attorneys-inner/attorneys-inner.component.pug
mixin attorneys-inner(data)
    section.attorneys-inner
        picture.attorneys-inner__bg
            img(src="assets/img/attorneys-inner.jpg", alt="Bg")
        .container
            .attorneys-inner__row
                .card-user
                    .card-user__row
                        .card-user__col
                            .card-user__info
                                .card-user__title
                                    span My Road to Practicing Bankruptcy 
                                        br
                                        | Isn’t a Typical One.
                                    picture
                                        img(src="assets/img/brackets.svg", alt="img")
                                p.subtitle Mr. Metzger has significant experience representing debtors, creditors, and parties in commercial litigation, adversary proceedings, and litigation in state courts and federal courts.
                                .card-user__info-links
                                    .contact-information
                                        a.contact-information__item(href="tel:+14155135980") 
                                            picture
                                                img(src="assets/img/phone.svg", alt="Phone")
                                            span (415) 513-5980
                                        a.contact-information__item(href="mailto:info@belvederelegal.com") 
                                            picture
                                                img(src="assets/img/mail.svg", alt="mail")
                                            span info@belvederelegal.com
                        .card-user__col
                            picture.attorneys-inner__user
                                img(data-src="assets/img/user-1.jpg", alt="User")
            .attorneys-inner__row
                .attorneys-inner__col
                    ul.description-user
                        li.description-user__item(id="s1")
                            h2 Biography
                            p He has represented numerous individual consumer debtor cases in chapter 11, chapter 7, and chapter 13, since 2009. He also has handled numerous commercial business debtors, in both chapter 11 and chapter 7. Has also has significant litigation experience and has appeared in numerous state and federal courts as well as the Ninth Circuit Appellate Court. Prior to founding Belvedere Legal in 2008, Matt worked as a principal at Cotchett, Pitre & McCarthy, where his civil caseload focused on securities, predatory and abusive lending practices, as well as consumer and investor fraud class actions. Prior to that position, Matt served as Deputy District Attorney in the Office of the District Attorney, County of San Joaquin. As a prosecutor, Matt tried criminal matters as well as civil cases under California’s Unfair Competition Law. From 2014-2017, Matt served a three-year term on the Bench-Bar Liaison Committee for the U.S. Bankruptcy Court for the Northern District of California. The Bench-Bar Liaison Committee serves as a forum in which the judges and the bar can work together to improve the quality of practice in Northern District of California and the manner in which court business is conducted. 
                        li.description-user__item(id="s2")
                            h3 Bar Admission
                            p Matt is a member of the Bay Area Bankruptcy Forum, the San Mateo County Bar Association, the Bar Association of San Francisco, and the State Bar of California Business Litigation section.
                        li.description-user__item(id="s3")
                            h3 Education
                            p Matt received his Bachelor of Arts degree from Princeton University, where he majored in comparative literature, in 1994, and graduated Magna Cum Laude with a Certificate in East Asian Studies. In 1995, he received a Fulbright Scholarship to study in Japan. In 2000, he received a Master’s Degree from Stanford University in the field of comparative literature. In 2005, Matt received his Juris Doctor degree from the University of California Davis School of Law. He served as a research assistant to Professor Albert Lin on environmental law matters and as Executive Editor of U.C. Davis’s Journal of International Law and Policy. Following law school, he clerked for the Honorable Larry R. Weeks of the First Judicial District in Juneau, Alaska.
                        li.description-user__item(id="s4")
                            h3 Admissions
                            p Matt is admitted to the State Bar of California, the State Bar of Alaska, the Northern, Eastern, and Central Districts of California, and the United States Court of Appeals for the Ninth Circuit. He is married to Dr. Neeta Jain and has two children. He grew up in Belvedere, CA in the 70s and 80s and he named his firm after the term “belvedere”, which means a “structure that commands a view.”
                .attorneys-inner__col
                    ul.attorneys-menu
                        li.attorneys-menu__item.attorneys-menu__item-active
                            a.uppercase(href="#s1" rel='m_PageScroll2id') biography
                        li.attorneys-menu__item
                            a.uppercase(href="#s2" rel='m_PageScroll2id') Bar Admission
                        li.attorneys-menu__item
                            a.uppercase(href="#s3" rel='m_PageScroll2id') Education
                        li.attorneys-menu__item
                            a.uppercase(href="#s4" rel='m_PageScroll2id') Admissions
                    +info-block({
                        title: "Get effective legal solutions for difficult financial issues now.",
                        class: "info-block--blue info-block--vertical",
                        btn: "Schedule Free Consultation",
                        content: true
                    })
        .attorneys-inner__row--noflef
          
            .container
                .attorneys-inner__row.attorneys-inner__row--white
                    .attorneys-inner__col
                        h2 Come Work With Us
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span See more current opportunities
                    .attorneys-inner__col
                        p Belvedere Legal offers law students, practicing lawyers and other professionals the opportunity to apply their time and talents toward resolving important and challenging legal matters on today’s legal stage, working with a shared commitment to client service, the legal profession, and community support.
                        h3 How to Apply?
                        p Interested individuals may contact the firm at
                            br
                            a(href="mailto:info@belvederelegal.com") info@belvederelegal.com
                        p Please include the title of the job in the subject line.
